**/.git/**/*!(config)
**/.idea
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/Thumbs.db

**/node_modules/**
**/dist/**
**/build/**
**/target/**
**/*.lock
**/*-lock.*
**/*.map

**/coverage/**
**/logs/**
**/tmp/**
